.flightList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: top;
	align-content: flex-start;
	margin-top: 10px;
}

.flight {
	min-width: 240px;
	border-radius: 5px;
	margin-bottom: 20px;
	flex: 1 0 30%;
}

.flight:nth-child(3n) {
	margin-right: 0px;
	margin-left: 0px;
}
.flight:nth-child(3n-1) {
	margin: 0px 20px 20px 20px;
}
.flight:nth-child(3n-2) {
	margin-right: 0px;
	margin-left: 0px;
}

.flight .top {
	min-height: 120px;
	width: calc(100%-40px);
	padding: 20px;
	background: #0097e6;
	border-radius: 5px 5px 0px 0px;
}

.flight .bottom {
	border: 0px solid #ccc;
	border-top: none;
	border-radius: 0px 0px 5px 5px;
}

/* Flight Title */
.flight h1 {
	width: 100%;
	height: 1.2em;
	font-size: 26px;
	color: #f5f6fa;
	font-weight: 500;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/* Number */
.flight h2 {
	font-size: 22px;
	color: #f5f6fa;
	font-weight: 400;
	text-align: center;
	padding-bottom: 15px;
}

/* Rocket Type */
.flight h3 {
	font-size: 22px;
	color: #fff;
	font-weight: 300;
	text-align: center;
	padding-top: 2px;
}

/* Date */
.flight h4 {
	width: 100%;
	font-size: 18px;
	color: #f5f6fa;
	font-weight: 300;
	text-align: center;
	padding-top: 10px;
	font-family: sans-serif;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.flight .social-bar {
	height: 30px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;

	padding-top: 0px;
	padding-bottom: 20px;

	position: relative;
	bottom: 0;
}

.flight .social-bar .social-item {
	height: 100%;
	width: 30px;
	padding: 0px 5px 0px 5px;
}

.flight .social-bar .social-item img {
	width: 100%;
	height: 100%;
	opacity: 0.8;
	filter: brightness(0) invert(1);
	cursor: pointer;
}

.flight .social-bar .social-item:hover img {
	opacity: 0.95;
}